<header class="bg-purple-600 text-white p-4 shadow">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold" routerLink="/">Events App</h1>
    <nav class="cursor-pointer">
      <a routerLink="/" class="px-4 py-2 hover:underline">Home</a>
      <a href="#about" class="px-4 py-2 hover:underline">About</a>
      <a routerLink="/events" class="px-4 py-2 hover:underline">Events</a>
      <a href="#contact" class="px-4 py-2 hover:underline">Contact</a>

      <a *ngIf="!isLoggedIn" routerLink="/auth/login" class="px-4 py-2 hover:underline">Login</a>
      <a *ngIf="isLoggedIn" routerLink="/profile/user" class="px-4 py-2 hover:underline">Profile</a>
  
    </nav>
  </div>
</header>
