<form [formGroup]="loginForm" class="w-full md:w-[600px] m-auto flex flex-col  gap-y-4 my-4" (ngSubmit)="onSubmit()">
    <h1 class="header-text">#Login</h1>
  
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-4">
        <app-input
        label="Email"
        type="email"
        id="email"
        controlName="email"
        placeholder="Type your email"
        [parentForm]="loginForm"
      />
      <p class="text-textDanger">
        {{ loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched ? 'Email is required' : '' }}
        {{ loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched ?'Invalid email format' : '' }}
      </p>
      </div>
  
      <div class="flex flex-col gap-4">
        <app-input
        label="Password"
        type="password"
        id="password"
        controlName="password"
        placeholder="Type your password"
        [parentForm]="loginForm"
      />
      <p class="text-textDanger">
        {{ loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched ? 'Password is required' : '' }}
        {{ loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched ?'Invalid Password format' : '' }}
      </p>
      </div>
      <app-button type="submit" labelText="Login"/>
    </div>
    <p>Dont have an account? <a routerLink="/auth/register">Create one...</a></p>
  </form>