<section class="md:w-[1250px] flex flex-col">
  <hgroup class="w-full flex flex-col mb-10">
    <h1 class="self-center header-text pb-4">#Events</h1>
    <p class="text-2xl self-center">This is the Events page.</p>
    <app-button
      labelText="+ Create Event"
      class="!w-fit self-end items-start mt-10"
    ></app-button>
  </hgroup>

  <p *ngIf="eventsService.isLoading" class="self-center mt-10">
    Loading events...
  </p>

  <p *ngIf="eventsService.hasError" class="self-center mt-10 text-textDanger">
    Error, cannot fetch any events.
  </p>

  <div
    *ngIf="!eventsService.isLoading && !eventsService.hasError"
    class="w-full flex flex-col gap-y-10"
  >
    <app-event-card
      *ngFor="let event of eventsService.data"
      [event]="event"
    ></app-event-card>
  </div>
</section>

