<section
  id="about"
  class="w-full flex flex-wrap justify-between my-14 md:my-24 md:py-24"
>
  <h1 class="header-text">#About Us</h1>
  <div class="flex flex-wrap md:flex-nowrap gap-4">
    <div class="flex flex-col gap-y-6">
      <h2 class="text-3xl pb-2">Who are we??</h2>
      <p class="text-xl leading-2 tracking-wider">
        EventPal is a cutting-edge event planning app that helps users find,
        plan, and book events at their fingertips. With our extensive database
        of events, we offer a wide range of options for hosting, hosting
        parties, and hosting events for others. We're here to help you plan your
        next big event, whether it's a birthday party, a corporate event, or a
        family gathering. To get started, simply sign up and let us help you
        find the perfect event for your needs.
      </p>
      <app-button labelText="Discover Events" class="w-fit" />
      <img
        class="w-full rounded-lg shadow-lg"
        src="https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="audience img"
      />
    </div>
    <img
      class="rounded-lg shadow-lg"
      src="https://images.pexels.com/photos/3171830/pexels-photo-3171830.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="people partying"
    />
  </div>
</section>
